<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Cadastrar contato</title>
</head>
<body>
<div class="container mt-5">
    <h2>Cadastrar contato</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="mb-3">
            {{ form.nome.label_tag }}
            {{ form.nome }}
            {{ form.nome.errors }}
        </div>

      <div class="mb-3">
        {{ form.idade.label_tag }}
        {{ form.idade }}
         {% for error in form.idade.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
    </div>

        <div class="mb-3">
            {{ form.sexo.label_tag }}
            {{ form.sexo }}
            {{ form.sexo.errors }}
        </div>

        <div class="mb-3">
            {{ form.telefone.label_tag }}
            {{ form.telefone }}
            {{ form.telefone.errors }}
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>

    </form>
</div>
</body>
</html>
